*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  body{
      
      justify-content: center;
      align-items: center;
     background-color: #d2caca;
  }
  .slide-container{
      position: relative;
      width: 1300px;
      height: 500px;
      border: 3px solid wheat;
      box-shadow: 0 0 8px 2px rgb(157, 104, 104);
      margin-left: 7%;
      display: flex;
      margin-top: 2%;
      background-color:rgb(252, 252, 252) ;
      overflow: hidden;
  }
  .slide-container .slides{
      width: 100%;
      height: calc(100% - 40px);
      position: relative;
      align-items: center;
      overflow: hidden;
  }
  .slide-container .slides img{
      width:70%;
      height: 100%;
      position: absolute;
      object-fit:cover;
      margin-left: 15%;
  }
  .slide-container .slides img:not(.active){
      top:0;
      left: -100%;
  }

 /* .box {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(12, 12, 12); }
  
  
  .box h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  
  .slide:first-child {
    display: block;
  }
  
*/

  span.next,span.prev{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      padding: 14px;
      color: #eee;
      font-size: 24px;
      font-weight: bold;
      transition: 0.5s;
      border-radius: 3px;
      user-select: none;
      cursor: pointer;
      z-index: 1;
  }
  span.next{
      right: 20px;
  }
  span.prev{
      left: 20px;
  }
  span.next:hover,span.prev:hover{
      background-color: #ede6de;
      opacity: 0.8;
      color: #222;
  }
  .dotcontainer{
      position: absolute;
      bottom: 5px;
      z-index: 3;
      left: 50%;
      transform: translateX(-50%);
  }
  .dotcontainer .dot{
      width: 15px;
      height: 15px;
      margin: 0px 2px;
      border: 3px solid #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;


  }
  .dotcontainer .active{
      background-color: #555;
      
  }
  
  @keyframes next1{
      from{
          left: 0%;
      }
      to{
          left: -100%;
      }
  }
  @keyframes next2{
      from{
          left: 100%;
      }
      to{
          left: 0%;
      }
  }
  @keyframes prev1{
      from{
          left: 0%;
      }
      to{
          left: 100%;
      }
  }
  @keyframes prev2{
      from{
          left: -100%;
      }
      to{
          left: 0%;
      }
  }

 .products .heading{
  margin-top: 7%;
  margin-bottom: 4%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 80px;
  color: rgb(53, 42, 42);
  margin-right: 34%;
  margin-left: 34%;
  
  border-radius: 4%;
 }
 


  .product-grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 25px;
max-width: 1200px;
margin: 0 auto;
}

.product-card {
width: 100%;
background-color: #fff;
border-radius: 8px;
border: 2px solid rgb(133, 237, 92);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
transition: transform 0.3s ease;
border-color: #d2caca;
}

.product-card:hover {
transform: scale(1.05);
}

.product-image {
position: relative;
overflow: hidden;
height: 200px; /* Set a fixed height for the product images */
}

.product-image img {
width: 90%;
height: 100%;
object-fit:fill; /* Maintain aspect ratio and cover the entire container */
transition: transform 0.3s ease;
margin-left: 20px;
margin-top: 20px;
}

.product-image:hover img {
transform: scale(1.1);
}





.buy-button {
background-color: #ff0ab5; 
color: #fff;
border: none;
padding: 4px 12px;
border-radius: 4px;
cursor: pointer;
font-size: 1em;
transition: background-color 0.3s ease;
}

.buy-button:hover {
background-color:#007bff;
}
.addtocart-button{
background-color: #ff0ab5; 
color: #fff;
border: none;
padding: 4px 12px;
border-radius: 4px;
cursor: pointer;
font-size: 1em;
transition: background-color 0.3s ease;
margin-left: 2%;
}
.addtocart-button:hover{
background-color: #007bff;
}
.addtowishlist-button{
background-color: #ff0ab5; 
color: #fff;
border: none;
padding: 4px 12px;
border-radius: 4px;
cursor: pointer;
font-size: 1em;
transition: background-color 0.3s ease;
margin-left: 2%;

}
.addtowishlist-button:hover{
background-color: #007bff;
}
.product-details {
padding: 16px;
}
.product-details i{
color: #f8ce0b; 
font-size: 1.1em; 
margin-right: 5px; 
}
.product-title {
font-size: 1.2em;
margin: 0 0 8px;
}

.product-description {
color: #666;
margin: 0 0 16px;
}

.product-price {
color: #007bff;
margin: 0 0 16px;
font-size: 25px;
}
.product-price span{
  font-size: 15px;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
 }